---
import PageLayout from '@/layouts/PageLayout.astro';
import { SITE_TITLE } from '@/config';
import PageMeta from '@/components/shared/PageMeta.astro';
import { Image } from 'astro:assets';
import Superpowers from '@/components/Superpowers.astro';
---

<PageLayout>
    <PageMeta
        title={`${SITE_TITLE} | Fullstack Engineer`}
        description="Experienced Full Stack Developer with 3 years of expertise. Explore Amal's portfolio showcasing skills in web development, backend, and more."
        slot='meta'
    />
    <Fragment slot='main'>
        <section>
            <figure>
                <Image
                    class='brightness-125 saturate-100 object-cover rounded-[30rem] mx-auto shine sm:float-end'
                    src='https://res.cloudinary.com/dxvx4y1yr/image/upload/c_scale,w_312/f_avif/q_auto:eco/photo_bkuxko'
                    alt='profile'
                    width='200'
                    height='100'
                    loading='eager'
                />
            </figure>
            <h1
                class='font-extrabold text-[2em] md:text-[2.5em] pb-4 text-black font-body leading-[1.25]'>
                <span class='dark:inline text-text-heading'
                    >Hello!, I'm
                    <span
                        class='bg-clip-text text-transparent bg-purple-300 bg-gradient-to-r from-[#FA8BFF] to-[#2BD2FF]'>
                        Amal Richwin.</span
                    >
                </span>
            </h1>
            <p class='pb-4'>
                Imagine a world where technology seamlessly blends with imagination, bridging the
                gap between ideas and reality. That's the world I strive to create as a full-stack
                developer. With 3 years of experience under my belt, I'm passionate about crafting
                innovative and dynamic web applications that not only function flawlessly but also
                captivate users. I thrive in collaborative environments, tackling complex challenges
                with a blend of technical expertise and creative problem-solving. Whether it's
                building intuitive interfaces, architecting robust back-ends, or optimizing
                performance, I approach every project with a dedication to excellence.
            </p>
        </section>
        <Superpowers />
    </Fragment>
</PageLayout>

<style></style>
