---
import PageLayout from '@/layouts/PageLayout.astro';
import { SITE_TITLE } from '@/config';
import BlurCircle from '@/components/shared/BlurCircle.astro';
import PageMeta from '@/components/shared/PageMeta.astro';
---

<PageLayout>
    <PageMeta
        title={`${SITE_TITLE} | Fullstack Engineer`}
        description="Experienced Full Stack Developer with 3 years of expertise. Explore Amal's portfolio showcasing skills in web development, backend, and more."
        slot='meta'
        description=''
    />
    <Fragment slot='main'>
        <section class='mb-8'>
            <div class='mb-6'>
                <h1
                    class='font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden'>
                    <span
                        class='bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue'>
                        Amal Richwin
                    </span>
                </h1>
            </div>
            <div>
                <p class='text-center whitespace-nowrap overflow-auto'>
                    <code class='py-1 px-2'>TO CREATE HISTORY</code>
                </p>
                <BlurCircle position='top' color='orange' />
                <BlurCircle position='bottom' color='cyan' />
            </div>
        </section>
    </Fragment>
</PageLayout>

<style></style>
