---
import Navigation from './Navigation.astro';
import DarkModeToggle from '@/components/DarkModeToggle'
import { GITHUB_PROFILE, TWITTER_PROFILE, LINKEDIN_PROFILE } from '@/config';
---

<header class='backdrop-blur-sm'>
    <a
        class='unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]'
        href='#main'>
        Skip to content
    </a>
    <Navigation />
    <div class='justify-self-end py-2 flex items-center content-center text-text-bold'>
        <a class='unset ml-4 rounded-sm' target="_blank" aria-label="Amal Richwin on Github" href={GITHUB_PROFILE}>
            <i
                class='fa-brands fa-github transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow'
                aria-hidden='true'
                title='Amal Richwin on GitHub'></i>
        </a>
        <a class='unset ml-4 rounded-sm' target="_blank" href={LINKEDIN_PROFILE} aria-label="Amal Richwin on Linkedin">
            <i
                class='fa-brands fa-linkedin transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue'
                aria-hidden='true'
                title='Amal Richwin on Linkedin'></i>
        </a>
        <a class='unset ml-4 rounded-sm' target="_blank" href={TWITTER_PROFILE} aria-label="Amal Richwin on Twitter">
            <i
                class='fa-brands fa-twitter transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue'
                aria-hidden='true'
                title='Amal Richwin on Twitter'></i>
        </a>
    </div>
    <DarkModeToggle client:load/>
</header>
<style>
    header {
        grid-area: header;
        display: grid;
        align-items: center;
        grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
    }
</style>
