---
import TechTags from './TechTags';
---

<section class='superpowers dark:bg-grid-white/[0.05] bg-grid-black/[0.05]'>
    <h2>My Superpowers</h2>
    <ul>
        <li>
            <span>Front-End Mastery:</span> React, Next.js, HTML5, CSS3, JavaScript (ES6+), MUI, Tailwind
            CSS, Jest, Module Federation – I speak the languages of the web fluently, crafting pixel-perfect
            user experiences that delight the eye and engage the mind.
        </li>
        <li>
            <span>Back-End Brainiac:</span> Node.js, Express.js, Flask, Nest.js, MongoDB, Redis, Postgres,
            ElasticSearch, Mocha - – I'm the architect behind the scenes, ensuring data flows smoothly
            and servers hum with efficiency.
        </li>
        <li>
            <span>DevOps Dynamo:</span> Docker, Podman, Git, Github, GitLab, CI/CD Pipelines, AWS Cloud
            (EC2, ELB, VPC, S3, EFS, Lambda, SES, SQS, DynamoDB, ECR, CloudFront), Digital Ocean, Elastic
            Stack – I keep the development process streamlined and efficient, from code collaboration
            to cloud deployment.
        </li>
    </ul>
    <TechTags />
</section>
